body{
  display:relative;
  width:100%;
  padding:0;
  margin:0;
  font-family:"Montserrat";
  background-color:#FF0000;
}
p{
  margin:0;
}
h2{
  color:#281a59;
}
hr{
  background-color:#c2d82e;
}
.ana-alan{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius:50px;
  width:70%;
  background:linear-gradient(223.88deg, #c9c8ce 10.31%,#848484 70%, #c9c8ce 94.31%);
  padding:2%;
  display:grid;
}
.ust-alan{
  width:100%;
  display:grid;
}
.ust-sol-alan{
  grid-column:0/2;
  grid-row:0/2;
}
.ust-sag-alan{
  grid-column:2/10;
  grid-row:0/2;
}
.gorsel-isim-alan{
  grid-column:0/2;
  grid-row:0/2;
}
.isim-alan{
  text-align:center;
}
.aciklama-alan{
  padding-left:5%;
  grid-column:2/10;
  grid-row:0/2;
}
.gorsel-alan{
  width:150px;
  height:150px;
  border-radius:50%;
  margin:0 auto;
  background-color:purple;
}
.alt-sol-alan{
  margin-top:20%;
  grid-column:0/2;
  grid-row:2/6;
}
.social-wrapper{
  width:100%;
}
.logo{
  width:25px;
}
.social{
  display:inline-block;
  height:25px;
}
.skills{
  display:inline-block;

  height:25px;
}
.alt-sag-alan{
  padding-left:5%;
  grid-column:2/10;
  grid-row:2/6;
}