/* Stylez */
# header {background-image: url("cool.png")}
body { font-family: Franklin Gothic Book, Source Sans Pro, Helvetica Neue, sans-serif; margin: 0 auto; background: #efefef; line-height: 1.8em; padding: 12px; box-sizing: border-box; color: #333; overflow: auto;
background-image: url("../images/979162.png"); /*background image*/

}
