body{
  display:relative;
  width:100%;
  padding:0;
  margin:0;
  font-family:"Montserrat";
}
p{
  margin:0;
}
.ana-alan{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width:70%;
  background-color:red;
  padding:2%;
  display:grid;
}
.ust-alan{
  width:100%;
  display:grid;
}
.ust-sol-alan{
  grid-column:0/2;
  grid-row:0/2;
}
.ust-sag-alan{
  grid-column:2/10;
  grid-row:0/2;
}
.gorsel-isim-alan{
  grid-column:0/2;
  grid-row:0/2;
}
.isim-alan{
  text-align:center;
}
.aciklama-alan{
  padding-left:5%;
  grid-column:2/10;
  grid-row:0/2;
}
.gorsel-alan{
  width:150px;
  height:150px;
  border-radius:50%;
  background-color:purple;
}
.alt-sol-alan{
  margin-top:20%;
  grid-column:0/2;
  grid-row:2/6;
}
.alt-sag-alan{
  padding-left:5%;
  grid-column:2/10;
  grid-row:2/6;
}