.tempIMG {
  display: block;
  width: 100%;
  height: 100%;
}

.finalImage {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;
  }
}

.colorize {
  svg {
    altGlyph,
    circle,
    ellipse,
    path,
    polygon,
    polyline,
    rect,
    text,
    textPath,
    tref,
    tspan {
      fill: currentColor;
    }
  }
}