.tempIMG {
  display: block;
  width: 100%;
  height: auto;
}

.finalImage {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;

  svg {
    width: 100%;
    height: auto;
  }
}

.colorize {
  svg {
    altGlyph,
    circle,
    ellipse,
    path,
    polygon,
    polyline,
    rect,
    text,
    textPath,
    tref,
    tspan {
      fill: currentColor;
    }
  }
}