@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.container {
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: grid;
  justify-items: center;
  overflow-y: auto;

  .background {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .intro {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    grid-template: 'intro' max-content 'carousel' max-content / min(
        100%,
        #{$content-width}
      );
    gap: 5rem;
  }
}
