@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.container {
  display: grid;
  justify-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  .intro {
    display: grid;
    justify-content: center;
    grid-template: 'intro' max-content 'carousel' max-content / min(
        100%,
        #{$content-width}
      );
    gap: 5rem;
  }
}
