.container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
  z-index: 10000;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeAnimation {
  animation: fade 1s forwards linear;
}

@keyframes fadeBackground {
  to {
    background-color: transparent;
  }
}

.fadeBackgroundAnimation {
  animation: fadeBackground var(--animation-duration-background, 3s) ease-in;
}

