@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Poppins:wght@500;600&display=swap');

@font-face {
  font-family: 'DAGGERSQUARE Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/DAGGERSQUARE.woff');
}
