@use 'sass:color';
@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

$content-height: 35rem;
$title-height: 6rem;

@mixin carousel-area {
  display: grid;
  grid-template: 'title' #{$title-height} 'content' #{$content-height} / 1fr;
  gap: 1rem;

  .carouselAreaContent {
    display: grid;
    grid-area: content;
    place-items: center;
    width: 100%;
    height: 100%;
  }
}

$grid-margin-correction: -15rem;

.container {
  display: grid;
  grid-template: 'previous current next' max-content / 1fr 2fr 1fr;

  .next {
    grid-area: next;
    @include carousel-area;
    margin-left: $grid-margin-correction;
  }

  .current {
    grid-area: current;
    @include carousel-area;
  }

  .previous {
    grid-area: previous;
    @include carousel-area;
    margin-right: $grid-margin-correction;
  }
}

.title {
  display: grid;
  place-items: center;

  .album {
    color: $ff_black;
    font-weight: 900;
    font-size: 1.5rem;
  }

  .musicName {
    @include daggersquare;
    font-size: 3rem;
    color: $ff_white;
  }

  .link {
    font-weight: 100;
    font-size: 0.8rem;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 0.3rem;
    color: $ff_white;
    text-decoration: none;
  }

  &.disabled {
    .link,
    .musicName,
    .album {
      color: color.adjust($ff_white, $alpha: -0.6);
      cursor: auto;
    }
  }
}

.frame {
  position: relative;
  display: grid;
  place-items: center;
  height: $content-height;

  .frameBackground {
    position: absolute;
    height: $content-height;
  }

  .cover {
    position: relative;
    top: -0.5rem;
    height: 21rem;
    width: 21rem;
    background-position: center;
    background-size: contain;

    .soon {
      color: $ff_white;
    }

    .buttonOverlay {
      display: grid;
      place-items: center;
      background-color: color.adjust($ff_dark_grey, $alpha: -0.5);
      height: 100%;

      .button {
        display: block;
        width: 50%;
        height: 50%;

        .icon {
          transition: transform 0.5s;
        }

        &:hover {
          .icon {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

$carousel-button-radius: 5rem;

.carouselButton {
  all: unset;
  height: $carousel-button-radius;
  width: $carousel-button-radius;
  cursor: pointer;
  transition: transform 0.5s;
  .icon {
    height: $carousel-button-radius;
    width: $carousel-button-radius;
    color: $ff_white;
  }

  &:disabled {
    pointer-events: none;
    cursor: auto;
    .icon {
      color: color.adjust($ff_white, $alpha: -0.6);
    }
  }

  &:active {
    transform: scale(1.1);
  }
}
