@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.container {
  display: grid;
  place-items: center;
  background-color: $ff_dark_grey;
  padding-bottom: 3rem;
  width: 100%;

  .internalGrid {
    width: min(100%, $content-width);
    display: grid;

    .title {
      color: $ff_white;
      font-family: 'DAGGERSQUARE Regular';
      text-transform: uppercase;
    }

    .embeded {
      display: grid;
      place-items: center;
      background-color: red;
      overflow: hidden;
      width: min(100%, $content-width);

      iframe {
        margin: -0.1rem;
        margin-right: -0.3rem;
      }
    }
  }
}
