@import '../../styles/colors.scss';

.container {
  display: block;
  border: 0.1rem solid $ff_red;
  border-radius: 50rem;
  padding: 1rem;
  width: max-content;
  color: $ff_red;
  transition: all 0.5s;
  text-decoration: none;

  &:hover {
    transform: scale(1.1, 1.1);
    background-color: $ff_red;
    color: $ff_white;
  }
}
